---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div slot="article" class="h-screen bg-cover bg-center bg-no-repeat"
       style="background-image: url('/Catbug.jpg');"
       dark-bg-violet-200 dark-text-white>
    	<div class="h-full flex flex-col justify-start items-center pt-8">
      		<h1 class="text-4xl mb-4 text-center">Cuerpo de proyectos</h1>
      	<!-- Otro contenido de tu página -->
    	</gitdiv>
  	</div>
</Layout>
